.icon-box {
  width: 100%;
  height: 100px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.icon-box img {
  margin-top: 20px;
}
.icon-box p {
  color: #6b6b6b;
  font-size: 12px;
  padding-top: 5px;
}
